.App {
  text-align: center;
}

nav{
  background-color:pink;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  min-height: 10vh;
}

.nav-links{
  width: 50%;
  display:flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}